@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display&family=Poppins:wght@300&family=Prata&display=swap');
/* font-family: 'Cookie', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Prata', serif;*/

*{
    box-sizing: border-box;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-evenly;
    color: #F8F8F8;
    font-family: 'Playfair Display', serif;
    background-color: #293352;
    /* position: sticky;
    top: 0; */
    padding: 5px;
}
.header-home {
    align-self: center;
    font-family: 'Poppins', sans-serif;
}
.header-home i {
    font-size: 25px;
    padding: 0px 15px 0px 15px;
}
.header-home a {
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    color: #F8F8F8;
    border: 2px solid #F8F8F8;
    border-radius: 3px;
    text-decoration: none;
}
.header-content {
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.header-content img {
    width: 100px;
    align-self: center;
}
.website {
    align-self: center;
    font-size: 60px;
}

.icons {
    font-size: 30px;
    align-self: center;
}
.icons i {
    padding: 0px 15px 0px 15px;
}
.icons i:hover {
    position: relative;
    color:skyblue;
    top: 5px;
}
nav {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #F8F8F8;
}
.nav-home {
    background-color: #313d61;
}
.nav-list {
    list-style-type: none;
    background-color: #313d61;
    padding: 5px;

}
.nav-list li {
    display: inline;
    position: relative;
    box-sizing: border-box;
    margin-right: 15px;

}
.nav-list li a {
    display: inline;
    text-decoration: none;
    color: #F8F8F8;
}
/* .nav-list li a:hover {
    position: relative;
    color:white;
    text-shadow: 2px 2px 4px black;
} */
.nav-search {
    display: flex;
    justify-content: right;
    margin: 15px 60px 15px 0px;
}
.nav-search input {
    font-family: 'Prata', serif;
    color: black;
    font-size: 25px;
    font-weight: 800px;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.89);
    border: 5px;
    border-radius: 20px;
}

/* CARDS */
.row section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.card {
    width: 350px;
    height: 500px;
    background-image: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    display: block;
    flex-direction: column;
    color: black;
}
.card:hover {
    position: relative;
    box-shadow: 2.5px 5px gray;
    top: 5px;
}
.card-image {
    display: block;
    text-align: center;
}
.card-image img {
    width: 150px;
    height: 200px;
    box-shadow: 2px 4px gray;
}
.card-title {
    font-family: 'Cookie', cursive;
    text-align: center;
    height: 40px;
    font-size: 40px;
}
.card-author{
    font-family: 'Prata', serif;
    text-align: center;
    height: 20px;
    font-size: 15px;
    font-weight: 800;
}

.card-description {
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    height: 130px;
    text-align: justify;
    text-indent: 15px;
}
.read-more {
    display: block;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    height: 25px;
}
.read-more:hover {
    position: relative;
    text-shadow: 1px 1px 2px #293352;
    color: #293352;
}
.card-icons {
    margin: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    height: 20px;
    color: black;
}
.card-icons i {
    text-shadow: 1px 1px 2px gray;
    padding: 5px 20px 0px 10px;
}
.card-icons i:hover {
    position: relative;
    color: #293352;
    text-shadow: 3px 3px 6px black;
}
.card-icons button {
    margin: 5px;
    border: none;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: 800;
}
.card-icons button a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    color: black;
    box-shadow: 0 3px 7px 0 gray;
    padding: 10px 10px 10px 10px;
}

.card-icons a:hover {
    position: relative;
    color: white;
    background-color: black;
    text-shadow: 1px 1px 2px #293352;
    font-family: 'Playfair Display', serif;
}
.nav-bottom {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin: 50px;
}
.nav-list-bottom {
    padding: 0;
    background-image: none;
    list-style-type: none;
    color:azure;
}
.nav-list-bottom li {
    display: inline;
    margin-right: 50px;
    background-image: none;
}
.nav-list-bottom li a {
    display: inline;
    background-image: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 800px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
.nav-list-bottom .no-box {
    box-shadow: 0 2px 5px 0 gray;
}
.no-box:hover {
    background-color: gray;
    color:white;
}
footer {
    width: auto;
    height: auto;
    display: block;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.footer-subscribe {
    height: 100px;
    background-color: #7C0516;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}

.footer-subscribe input {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 800px;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
    border: 5px;
    border-radius: 10px;
}
.footer-subscribe a {
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    color: #F8F8F8;
    border: 1px solid #F8F8F8;
    border-radius: 10px;
    text-decoration: none;
    align-self: center;
}
.footer-separator {
    width: auto;
    height: 10px;
    background-color: #991327;
}
.footer-icons {
    margin: auto;
    background-color: #293352;
}
.footer-icons p {
    font-size: 20px;
    padding: 10px;
}
.footer-icons i {
    font-size: 25px;
    padding: 0px 25px;
}

/* CHECK OUT FORM */

.check-out-form {
    margin: 0;
    box-sizing: border-box;
}
.cof-header {
    text-align: center;
}
.cof-header p {
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 40px;
}
.cof-logo img {
    width: 150px;
}
.cart-user-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.cart-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    /* align-content: center; */
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 6px #888888;
    width: 70%;
    /* text-align: center; */
}
.cart-summary {
    order: 2;
    width: 45%;
    padding: 20px 10px 10px 10px;
}
.cart-summary h3 {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    font-family: 'Poppins', sans-serif;
}
.cart-summary .h3-1 {
    padding: 5px;
    margin: 0px;
    font-size: 20px;
}
.cart-summary .h3-2 {
    border-radius: 100px;
    background-color: #6174ad;
    padding: 5px 15px;
}
.cart-list {
    padding: 0px;
}
.cart-list li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    list-style-type: none;
    border: 1px solid black;
    border-bottom: 0;
    font-family: 'Prata', serif;
    color: black;
    align-items: center;
}
.cart-list li h5 {
    height: 20px;
}

.cart-list li span {
    font-size: 10px;
}
.cart-list li .price {
    margin: 10px;
    font-weight: 800;
    font-size: 12px;
}
.cart-list .li-last {
    border-bottom: 1px solid black;
}
.li-last .price {
    color: red;
}
.promo {
    display: flex;
    justify-content: center;
    height: 50px;
    border: 1px solid #354268;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}
.promo input {
    width: 100px;
    text-align: center;
    font-family: 'Prata', serif;
}
.promo button {
    background-color:#293352;
    border-radius: 0px 2px 2px 0px;
}
.promo button:hover {
    background-color:white;
}
.promo button a {
    text-decoration: none;
    background-color:#293352;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.promo button a:hover {
    background-color:white;
    color: #293352;
}
.cart-user-data {
    order: 1;
    width: 60%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 10px 10px;
}
.form-header {
    margin: 5px 5px 10px 10px;
}
.cart-user-data span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 5px 5px 10px 10px;
    font-weight: 800;
}
.cof-user-data {
    margin: 5px 20px 10px 20px;
}
.user-data label {
    font-size: 15px;
}
.user-data input {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}
.country-list p {
    font-size: 15px;
}
.country-list select {
    font-size: 15px;
    height: 35px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.address-validation {
    margin: 5px 20px 10px 20px;
}
.payment {
    margin: 20px;
}
.check-out-button {
    align-self: center;
    margin: 20px;
    width: auto;
}
.check-out-button button {
    background-color: #293352;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
}
.check-out-button button:hover {
    background-color: white;
    border-radius: 5px;
}
.check-out-button a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 80px;
    font-family: 'Prata', serif;
    color: white;
}
.check-out-button a:hover {
    color:black;
}
.cof-footer {
    margin-top: 50px;
    height: 100px;
    width: auto;
    text-align: center;
    color:#293352;
    font-size: 20px;
}
.footer-help {
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 1000px) {
    header {
        width: auto;
        text-align: center;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
    }
    .header-home i {
        font-size: 20px;
    }
    .header-home a {
        display: none;
    }
    .header-content img {
        width: 150px;
    }
    .header-content h1 {
        display:none;
    }
    .header-home .icons {
        font-size: 20px;
        margin: 5
    }
    .icons {
        font-size: 25px;
        align-self: center;
        margin-right: 15px;
    }
    .icons i {
        padding: 0px 5px 0px 5px;
    }
    .nav-home {
        direction: row;
        height: auto;
        background-color: #354268;
    }
    .nav-list {
        display: inline;
        justify-content: space-around;
        text-align: center;
        background-color: #354268;
    }
    .nav-list li{
        align-items: center;
        display: inline;
        margin-right: 15px;
    }
    .nav-list li a {
        font-size: 15px;
    }
    .nav-list li i {
        margin-right: 5px;
    }
    .nav-search {
        display: flex;
        justify-content: right;
        margin: 15px;
        padding: 5px 10px;
    }
    .nav-search input {
        font-size: 15px;
        font-weight: 1000;
        text-align: center;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.19);
        border: 1px solid black;
        border-radius: 15px;
    }
}


@media (max-width: 600px) {
    .header-content img {
        width: 100px;
    }
    .card {
        width: 550px;
        height: 400px;
        margin: 20px auto;
        flex-direction: row;
        border: 1px dashed black;
    }
    .card-image img {
        height: 180px;
        width: auto;
        border-radius: 5px;
    }
    .card-title {
        height: 30px;
    }
    .card-description {
        height: 80px;
    }
    .read-more {
        height: 25px;
    }
    .card-icons {
        font-size: 20px;
        display: flex;
        justify-content: right;
        height: 30px;
    }
    .card-icons button {
        align-self: top;
    }
    .nav-list-bottom li {
        margin-right: 30px;
    }
    .nav-list-bottom li a {
        font-size: 18px;
        padding: 0px 6px 2px 6px;
        text-decoration: none;
    }
    .footer-subscribe {
        padding: 30px;
    }
    .footer-subscribe span {
        font-size: 15px;
        align-self: center;
    }
    .footer-subscribe input {
        font-size: 15px;
        text-align: center;
        border: 2px;
    }
    .footer-subscribe a {
        padding: 5px 15px 5px 15px;
        font-size: 15px;
    }


    /* FOR CHECK OUT FORM */
    .check-out-form {
        direction: flex;
        flex-direction: wrap;
    }
    /* .cof-header, .cart-row .cof-footer {
        direction: flex;
        flex-direction: row;
    } */
    .cof-logo img {
        width: 100px;
    }
    .cof-header p {
        font-size: 40px;
    }
    .cart-row {
        margin: 10px auto;
        flex-direction: column;
        width: 90%;
    }
    .cart-summary {
        order: 1;
        width: auto;
    }
    .cart-summary span {
        font-size: 20px;
    }
    .cart-user-data {
        width: auto;
    }
    .address-validation {
        font-size: 15px;
    }
    .payment h2 {
        font-size: 25px;
    }
    .payment label {
        font-size: 15px;
    }
    .check-out-button button {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
    }
    .check-out-button a {
        font-size: 15px;
        text-decoration: none;
        padding: 8px 60px;
    }
    .cof-footer-contents {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .icons {
        font-size: 15px;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
    }
    .icons i {
        padding-bottom: 5px;
    }
    .nav-list {
        display: none;
    }
    .nav-search {
        margin: none;
        padding: none;
        height: 20px;
    }
    .nav-search input {
        font-size: 10px;
        height: 20px;
        width: 70px;
        padding: none;
        margin: none;
    }
    .card {
        width: 150px;
        height: 300px;
        margin-top: 2px;
    }
    .card-image img {
        height: 80px;
        width: auto;
        border-radius: 2px;
    }
    .card-title {
        height: 20px;
        font-size: 20px;
    }
    .card-author span {
        height: 15px;
        font-size: 8px;
    }
    .card-description {
        height: 100px;
        font-size: 7px;
    }
    .read-more {
        height: 15px;
        font-size: 10px;
    }
    .card-icons {
        font-size: 10px;
        justify-content: space-around;
        margin: 1px;
    }
    .card-icons button {
        margin: 1px;
        font-size: 8px;
        font-weight: 500;
    }
    .card-icons i {
        text-shadow: 1px 1px 2px gray;
        padding: 1px 2px 0px 1px;
        margin-top: 10px;
    }
    .card-icons button a {
        padding: 1px;
        border-radius: 1px;
        box-shadow: 0 0.5px 2px 0 gray;
        padding: 0px 0px 0px 0px;
    }
    .footer-subscribe {
        height: 30px;
    }
    .footer-subscribe span {
        font-size: 10px;
        align-self: center;
    }
    .footer-subscribe input {
        display: none;
    }
    .footer-subscribe a {
        padding: 1.25px 5px 1.25px 5px;
        font-size: 10px;
    }
    .footer-icons p {
        font-size: 10px;
    }
    .footer-icons i {
        font-size: 12px;
    }

}